.grid-container{
    display: grid;
    grid : 100px 100px  100px / auto auto;
    grid-gap :20px;
    padding: 10px;
    background-color: lawngreen;
    
}
.item{
    text-align: center;
   background-color: hotpink;
}